body { background-color: #4B7399; color: #fff; }

body, p, ol, ul, td {
  font-family: tahoma, tahoma, tahoma, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #4B7399; background-color: #F00000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}


#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #000;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  color: #000;
}

#columns {
 background: #141;
}

#main {
  float: left;
  margin-left: 
  padding-left: 2em;
  padding-right: 13em;
  width: 130em;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 30em;
  width: 26em;
  background: #4B7399;
}

#top {
  float: top;
  background: #4B7399;
}

#side a{
  color: #fff;
  font-size: small;
}

#main a{
  color: #fff;
  font-size: small;
}
