<% content_for :title, "Please Login" %>



<!--creates form, exectues the authenticate method when the submit button is clicked-->

<%= form_tag :action=>'authenticate' %>
<fieldset>
<legend>Enter Username and Password</legend>
 User name:
 <%= text_field("userform", "user_name",:size=>"20" ) %><br/><br/>
 Password:
 <%= password_field("userform", "password",:size=>"20" )%><br/><br/>
 <input type="submit" value=" LOGIN " />
</fieldset>

<%= button_to 'Sign Up', :action => :signup %>

<p>
<html>
<body>
<img border="0" src="http://www.theposselist.com/wp-content/uploads/2010/01/Index-Engines-logo-1.jpg" width="304" height="175" />
</body>
</html>
</p>

