<% content_for :title, "Users" %>


<h1>Current Users</h1>

<table>
  <tr>
    <!thPassword<!/th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <!td><!%=h user.password %!><!/td> 
    <!td><!%= link_to 'Edit', edit_user_path(user) %><!/td>
    <!td><!%= link_to 'Destroy', user, :confirm = 'Are you sure?', :method = :delete %><!/td>
    <td><%= link_to user.firstname, :user => user.user_name, :controller => 'saved_tapes', :action => 'theirtapes' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Back", :controller => 'user', :action => 'private' %>
